<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/createpost"><button>Create Post</button></a></li>
            <li><a href="/updateinfo"><button>Update Info</button></a></li>
            <li><a href="/logout"><button>LogOut</button></a></li>
        </ul>
    </nav>
    <h1><%= message %></h1>

    <% if (userRole != "admin") { %>
        <% if(dataExists){ %>
            <% userblogs.blogs.forEach((blog, index) => { %>
                <div class="author-div">
                    <img src="/<%= blog.filename %>" alt="Thumbnail" height="300px">
                    <h1><%= blog.title %></h1>
                    <p><%= blog.content %></p>
                    <a href="/updatepost/<%= index %>"><button>Update Post</button></a>
                </div>
            <% }) %>
        <% }else{ %>
            <p>You don't have any blogs yet!!!</p>
        <% } %>        
    <% }else{ %>
        <% if(dataExists){ %>
            <div class="username-div">
                <% userblogs.forEach((ele) => { %>
                    <h2>Username : <%= ele.username %></h2>

                    <% ele.blogs.forEach((el,ind) => { %>
                        <div class="author-div">
                            <img src="/<%= el.filename %>" alt="Thumbnail" height="300px" >
                            <h1><%= el.title %></h1>
                            <p><%= el.content %></p>
                            <a href="/deletepost/<%= ind %>/<%= ele.username %>"><button>Delete Post</button></a>
                            <% if(ele.username == username){ %>
                                <a href="/updatepost/<%= ind %>"><button>Update Post</button></a>
                            <% } %>
                        </div>
                    <% }) %>
                    <br>
                    <br>
                <% }) %>
            </div>
        <% }else{ %>
            <p>Hello Admin !! Sorry to say but no user have created their blogs yet !!</p>
        <% } %>
    <% } %>

</body>

</html>
